{
  "printWidth": 140,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "useTabs": false,
  "tabWidth": 4,
  "quotes": true
}
