<div class="row">
	<div class="col-12">
		<div class="d-flex align-items-start">
			<video-stream-preview
				class="me-3"
				style="width: 160px"
				:stream="stream_user || stream_display"
				v-if="(this.preview !== undefined ? this.preview : true) && ((stream_user && constraints.video) || stream_display)"
			></video-stream-preview>

			<div class="flex-grow-1 d-flex align-items-center flex-wrap gap-2">
				<a title="Send file" href="javascript:;" class="btn-icon" @click="select_file()"><i class="fa fa-folder"></i></a>
				<input ref="input-file" type="file" class="d-none" @change="on_select_file($event)" />

				<div class="btn-group">
					<a
						title="Turn on camera"
						href="javascript:;"
						class="btn-icon"
						:class="{'is-active': constraints.video}"
						@click="constraints.video=constraints.video?null:true"
					>
						<i class="fa" :class="{'fa-video':constraints.video,'fa-video-slash':!constraints.video}"></i>
					</a>

					<template v-if="devices_videoinput.length>1">
						<a
							href="javascript:;"
							class="btn-icon-drop"
							:class="{'is-active': constraints.video}"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						></a>
						<div class="dropdown-menu">
							<template v-for="d in devices_videoinput">
								<a v-if="constraints.video == d" class="dropdown-item" href="javascript:;" @click="constraints.video=null"
									>{{d.label}} <small class="text-success">Active</small></a
								>
								<a v-else class="dropdown-item" href="javascript:;" @click="constraints.video=d">{{d.label}}</a>
							</template>
						</div>
					</template>
				</div>

				<div class="btn-group">
					<a
						title="Turn on microphone"
						href="javascript:;"
						class="btn-icon"
						:class="{'is-active': constraints.audio}"
						@click="constraints.audio=constraints.audio?null:true"
					>
						<i class="fa" :class="{'fa-microphone':constraints.audio,'fa-microphone-slash':!constraints.audio}"></i>
					</a>

					<template v-if="devices_audioinput.length>1">
						<a
							href="javascript:;"
							class="btn-icon-drop"
							:class="{'is-active': constraints.audio}"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						></a>
						<div class="dropdown-menu">
							<template v-for="d in devices_audioinput">
								<a v-if="constraints.audio == d" class="dropdown-item" href="javascript:;" @click="constraints.audio=null"
									>{{d.label}} <small class="text-success">Active</small></a
								>
								<a v-else class="dropdown-item" href="javascript:;" @click="constraints.audio=d">{{d.label}}</a>
							</template>
						</div>
					</template>
				</div>
				<a
					title="Share screen"
					href="javascript:;"
					class="btn-icon"
					:class="{'is-active': constraints.display}"
					@click="constraints.display=!constraints.display"
				>
					<i class="fa fa-laptop"></i>
				</a>

				<a title="Send code" href="javascript:;" class="btn-icon" @click="$emit('input-code')"><i class="fa fa-code"></i></a>
			</div>
		</div>
	</div>
</div>
